.table {
    border-collapse: collapse;
    width: 100%;
}

.table th,
.table td {
    border: solid 1px black;
}

#editor_container:not(.layout-modal) {
    display: none;
}

.centered {
    text-align: center;
}